image: node:alpine

stages:
  - install
  - build

cache:
  paths:
    - node_modules/

variables:
  EXPO_TOKEN: $EXPO_TOKEN
  CI: "true"

before_script:
  - npm ci
  - npm install -g eas-cli expo-cli

install:
  stage: install
  script:
    - echo "Installation des dépendances terminée ✅"

build_android:
  stage: build
  script:
    - eas whoami || eas login --token $EXPO_TOKEN
    - eas build --platform android --profile preview --non-interactive
  artifacts:
    paths:
      - dist/
    expire_in: 1 week
  only:
    - main
