image: node:alpine

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - .npm


stages:
  - build

before_script:
  - npm ci --cache .npm


eas-build:
  stage: build
  script:
    - apk add --no-cache bash git jq
    - BUILD_INFO=$(npx eas-cli build --platform android --non-interactive --json)
    - echo $BUILD_INFO
    - echo $BUILD_INFO | jq -r '.builds[0].artifacts.buildUrl' > build-url.txt
  artifacts:
    paths:
      - build-url.txt
    expire_in: 1 week


