image: oven/bun:1

stages:
  - install
  - build

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - node_modules/
    - bun.lock

variables:
  EXPO_TOKEN: $EXPO_TOKEN
  CI: "true"

before_script:
  - bun install
  - bun add -g eas-cli expo-cli

eas-build:
  stage: build
  script:
    - bunx eas-cli build --platform all --non-interactive --no-wait



