image: node:alpine

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - .npm


stages:
  - build

before_script:
  - npm ci --cache .npm


eas-build:
  stage: build
  script:
    - apk add --no-cache bash git
    - npx eas-cli build --platform android --non-interactive --output ./app.apk
  artifacts:
    paths:
      - app.apk
    expire_in: never

