name: Release APK
on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:


jobs:
  build-and-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install EAS CLI
        run: npm install -g eas-cli

      - name: Install dependencies
        run: npm install

      - name: Build with EAS
        id: eas_build
        env:
          EAS_TOKEN: ${{ secrets.EAS_TOKEN }}
        run: |
          # Lance un build distant et capture l'ID
          BUILD_ID=$(eas build -p android --profile preview --non-interactive --json | jq -r '.[0].id')
          echo "BUILD_ID=$BUILD_ID" >> $GITHUB_ENV
          
          # Attend la fin du build et récupère l'URL du fichier .apk
          DOWNLOAD_URL=$(eas build:view $BUILD_ID --json | jq -r '.artifacts.buildUrl')
          echo "DOWNLOAD_URL=$DOWNLOAD_URL" >> $GITHUB_ENV
          
          # 5️⃣ Télécharge le .apk depuis Expo
          - name: Download APK
            run: |
              curl -L ${{ env.DOWNLOAD_URL }} -o app-release.apk
          
          # 6️⃣ Crée une release GitHub avec le .apk
          - name: Upload to GitHub Release
            uses: softprops/action-gh-release@v2
            with:
              files: app-release.apk
            env:
              GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
