name: EAS Build & Release APK

on:
  push:
    branches: ['main']
  workflow_dispatch:

jobs:
  build-and-release:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Clone du repo
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2️⃣ Installe Node et EAS CLI
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install EAS CLI
        run: npm install -g eas-cli

      - name: Install dependencies
        run: npm install

      - name: Build with EAS
        id: eas_build
        env:
          EAS_TOKEN: ${{ secrets.EAS_TOKEN }}
        run: |
          sudo apt-get install -y jq
          export EXPO_TOKEN=${{ secrets.EAS_TOKEN }}
          
          # Lance un build distant et capture l'ID
          BUILD_ID=$(eas build -p android --profile preview --non-interactive --json | jq -r '.[0].id')
          echo "BUILD_ID=$BUILD_ID" >> $GITHUB_ENV

          # Attend la fin du build et récupère l'URL du fichier .apk
          DOWNLOAD_URL=$(eas build:view $BUILD_ID --json | jq -r '.artifacts.buildUrl')
          echo "DOWNLOAD_URL=$DOWNLOAD_URL" >> $GITHUB_ENV

      - name: Download APK
        run: |
          curl -L ${{ env.DOWNLOAD_URL }} -o app-release.apk

      - name: Upload to GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: app-release.apk
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN_GITHUB }}
